
html {
    height: 100%;
}

body {
    padding-top: 75px;
    background-color: grey;
    /*background-image: url(https://southernlivingthedailysouth.files.wordpress.com/2013/10/tailgate-sanchez-hector1.jpg);*/
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: 0% 100%;
    min-height: 100%;
    position: relative;
    padding-bottom: 6%;
}

a:hover {
    text-decoration: none;
}

.navbar-inverse {
    background-color: rgba(0,0,0,0.8);
}

.footer {
    width: 100%;
    background: rgba(0,0,0,0.8);
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: solid 2px rgba(255,255,255,0.7);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.jumbotronTransparent {
    background: rgba(255,255,255, 0.90);
}

.carousel-indicators > li, li.active {
    margin: 1px 2px;
}

.carousel-holder {
    margin-bottom: 30px;
}

.caption {
    min-height: 150px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

/*Packages html*/
.thumbnail {
    padding: 0;
    background: rgba(255,255,255, 0.90);
    border: 0;
    transition: 1s;
    border-radius: 0;
}

.thumbnail .caption {
    padding: 20px;
}

.packageButton {
    width: 150px;
}

.packageDescription {
    text-align: center;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

hr.packageHR {
    border-top: 2px solid grey;
    margin: 10px 2px;
    /*border-radius: 50%;*/
}

.priceBlock {
    padding: 10px;
}
